@import "sobre.css";
@import "servicos.css";
@import "contato.css";
@import "rodape.css";
@import "login__form.css";

body {
    margin: 0;
    padding: 0;
}

nav {
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: right;
}

li {
    list-style-type: none;
    margin-right: 20px;
    text-decoration: none;
    display: inline-block;
}
a {
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    color: white;
}

.titulo__principal {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
    text-align: center;
    line-height: 60px;
    position: absolute;
    margin-left: 660px;
    bottom: 290px;
    color: white;
    
}
.banner {
    position: relative;
}
.fundo {
    width: 100%;
}
.logo {
    height: 150px;
    width: 150px;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.botao {
    position: relative;
    display: flex;
    justify-content: center;
    height: 80px;
    width: 350px;
    background-color: white;
    margin-left: 800px;
    border-radius: 10px;
    bottom: 180px;
    cursor: pointer;
}
.titulo {
    color: black;
    font-family: 'Bebas Neue', sans-serif;
    font-size: px;
    text-align: center;
    
}

@media (max-width: 900px){
    .rodape {
        flex-direction: column;
       } 
    
}