.rodape {
    width: 100%;
    height: 150px;
    background-color: black;
}
.tituloRodape {
    margin-top: -95px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    color: white;
}
.logotipo {
    width: 100px;
    margin-top: 25px;
    margin-left: 520px;
}
.sub {
    margin-top: -20px;
    padding: -30px;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}