.frase {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: -40px;
}
.fotos {
    height: 350px;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.titulo__card {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 35px;
    color: black;
    text-align: center;
}
.subtitulo {
    width: 350px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: black;
}